{% extends "templates/default.twig" %}

{% block title %} CIta {{ num }} {% endblock %}

{% block content %}

	<div class="container">

		<br><br><br>
<div class="panel panel-primary">
		  <div class="panel-heading">
				<h3 class="panel-title">Cita {{ num }}</h3>
		  </div>
		  <div class="panel-body">
				aqui iria los pormenores de la cita
		  </div>
	</div>
	</div>

{% endblock %}